@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Work+Sans:wght@100&display=swap');

body {
  background-color: #fdfae5;
  font-family: 'Work Sans', sans-serif;
  color: #4b6337;
}

 #title {
  color: #4b6337;
  font-weight: 1000;
  text-align: left;
  margin-left: 20px;
  font-size: 80px;
  display: block;
  overflow: auto;

}
#subtitle {
  text-align: left;
  font-size:40px;
  margin-left: 200px;
  display: block;
  overflow: auto;
}
#tribute-info {
  font-size:22px; 
  text-align: center;
  font-weight: bold;
}
main {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
  text-align: left;
  font-size:20px;
  border: solid;
  background-color: #f5dcc4

}
#image {
  margin: auto;
  border: solid;
  border-width: 5px;
  border-radius: 5%;
  width: 40%;
  height: auto;
  max-width: 50% ;
  position: relative;
  display: block;
  overflow: auto;
}

#img-caption {
  background-color: #f5dcc4;
  text-align: center;
  font-size:30px;
  border: solid;
  border-width: 2px;
  width: 60%;
  display: block;
  margin: auto;;
  padding: 2px;
 
}
.small-image {
  height: 350px;
  width: 230px;
  border: solid;
  border-color: #4b6337;
  border-width: 1px;
  object-fit: cover;
  display: float;
  margin-left: 38px;
  margin-right: auto;
  
}

.lenny-images {
  box-sizing: border-box;
  margin: auto;
  width: 90%;
  background-color:#f5dcc4;
  border: solid;
  border-color: #4b6337
  
  
}

#subtitle2 {
  text-align: left;
  font-weight: bold;
  font-size:40px;
  margin-left: 100px;
  display: block;
  overflow: auto;
}

a {
  color: #4b6337;
}

a:hover {
  color: #e8f6cd;
}